.editMediaContainer {
  height: auto;
  display:flex;
  flex-direction: column;
  padding: 0 8px;
  overflow-y: auto;
  .navContainer {
    top: 0;
    position: sticky; 
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    font-size: 17px;
    min-height: 58px;
    align-items: center;
    padding: 0 18px;
    .xMark{
      display: flex;
      width: 62px;
      align-items: center;
      svg{
        font-size: 22px;
        cursor: pointer;
        color: #0f1419d8;
        &:hover {
          color: #007bff;
          transition: color 0.3s ease; 
        }
      }
    }
    .editMediaLabel {
      width: 410px;
      color: #0f1419;
      font-weight: 500;
      font-size: 22px;
    }
    .applyButton {
      width: 73px;
      button {
        cursor: pointer;
        border-radius: 25px;
        font-weight: 600;
        font-size: 15px;
        height: 35px;
        padding: 0 18px;
        border: none;
        color: white;
        background-color: #0f1419;
        transition: background-color 0.3s;
        &:hover{
          background-color: #0f1419ee;
        }
      }
    }
  }
  .controls {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cropContainer {
    position:relative;
    display: flex;
    max-height: 600px;
    min-height: 540px;
    width: 100%;
  }
}
