// Navbar.module.scss

.container {
  display: flex;
  justify-content: space-between;
  width: 257px;
  float: right;
  padding: 20px 20px;
  flex-direction: column;
  font-size: 1.2rem;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: left;

    .logo {
      h1 {
        margin: 0;
      }
      height: 25px;
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;

      .linkContainer {
        display: flex;
        justify-content: left;
        width: 100%;

        a {
          color: var(--strong-text-color);
          border-radius: 40px;
          text-decoration: none;
          padding: 10px 32px 10px 15px;
          margin: 5px 0;
          transition: color 0.3s ease, background-color 0.3s ease; 
          display: flex;
          flex-direction: row;
          .svgContainer {
            height: 27px;
            width: 27px;
            margin-right: 15px;
          }

          &:hover {
            background-color: var(--container-hover-background);
          }
        }
      }
    }

    .postButton {
      background-color: var(--button-background);
      color: var(--button-text-color);
      padding: 10px;
      border: none;
      cursor: pointer;
      border-radius: 30px;
      margin-top: 20px;
      width: 95%;
      min-width: 80px;
      min-height: 55px;
      transition: background-color 0.3s ease; /* Added transition */
      font-size: 19px;
      font-weight: 600;

      &:hover {
        background-color: var(--button-hover-background);
      }
    }
  }
  .userControls {
    position: absolute;
    width: 257px;
    bottom: 10%;
    z-index: 3;
    padding: 5px 0;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    box-shadow: 0 0 10px var(--strong-box-shadow-color);
    border-radius: 10px;
    color: #0f0f0f82;
    height: 70px;
    .userControlsContainer{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      font-size: 17px;
      color: var(--strong-text-color);
      font-weight: 600;
      cursor: pointer;
      padding-left: 22px;
      span {
        display: flex;
        justify-content: left;
      }
      &:hover {
        background-color: #cccccc23;
        transition: background-color 0.3s ease; // Added transition
      }
    }
  }
  .controlsVisible{
    cursor: pointer;
    transition: background-color 0.3s;
    &:hover {
      background-color: var(--container-hover-background);
    }

  }
  .accountMenu {
    display: flex;
    padding: 15px;
    border-radius: 40px;
    .container {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      font-size: 0.8rem;
      .profilePic {
        position: relative;
        background-color: #ccc;
        border-radius: 50%;
        display: flex;
        color: white;
        font-size: 1.1rem;
        min-width: 44px;
        justify-content: center;
        align-items: center;
        height: 44px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 8px;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 25px;
          width: 25px;
        }
        img {
          width: 44px;
          height: 44px;
        }
      }
      .infoContainer {
        span{
          display: flex;
          justify-content: left;
        }
        .name {
          color: var(--strong-text-color);
          font-weight: 600;
        }
        .username {
          margin-left: 1px;
          color: var(--light-text-color);
        }
        margin-left: 8px;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .controls {
        justify-content: center;
        align-items: center;
        .svgContainer {
          color: var(--strong-text-color);
          height: 27px;
          width: 27px;
          margin-left: 8px;
          margin-top: 2px;
          font-size: 20px;
        }
      }
    }
  }
}
