// Navbar.module.scss

.container {
  display: flex;
  justify-content: space-between;
  width: 257px;
  float: right;
  padding: 20px 20px;
  flex-direction: column;
  font-size: 1.2rem;

  .menu {
    display: flex;
    flex-direction: column;
    align-items: left;

    .logo {
      h1 {
        margin: 0;
      }
      height: 25px;
    }

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;

      .linkContainer {
        display: flex;
        justify-content: left;
        width: 100%;

        a {
          color: #333;
          border-radius: 25px;
          text-decoration: none;
          padding: 10px 20px;
          margin: 5px 0;
          transition: color 0.3s ease, background-color 0.3s ease; /* Added transition */
          svg {
            margin-right: 15px;
          }

          &:hover {
            background-color: whitesmoke;
          }
        }
      }
    }

    .postButton {
      background-color: var(--button-background);
      color: var(--button-text-color);
      padding: 10px;
      border: none;
      cursor: pointer;
      border-radius: 30px;
      margin-top: 20px;
      width: 75%;
      min-width: 80px;
      min-height: 55px;
      transition: background-color 0.3s ease; /* Added transition */
      font-size: 0.9rem;
      font-weight: 500;

      &:hover {
        background-color: var(--button-hover-background);
      }
    }
  }

  .accountMenu {
    display: flex;
    padding: 15px;
    border-radius: 25px;

    &:hover {
      background-color: whitesmoke;
    }

    .container {
      padding: 0;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      font-size: 0.8rem;
      cursor: pointer;
      .profilePic {
        position: relative;
        background-color: #ccc;
        border-radius: 50%;
        display: flex;
        color: white;
        font-size: 1.1rem;
        width: 44px;
        justify-content: center;
        align-items: center;
        height: 44px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 8px;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 25px;
          width: 25px;
        }
        img {
          width: 100%;
          height: auto;
          z-index: 2;
        }
      }

      .logout {
        text-decoration: underline;

        &:hover {
          color: var(--link-hover-color);
        }
      }
    }
  }
}
