.postDetailsContainer {
  padding: 0 18px;
  padding-top: 13px;
  display: flex;
  flex-direction: row;
  min-height: 94px;
  .profilePicContainer{
    .profilePic {
      margin-right: 13px;
      background-color: #ccc;
      border-radius: 50%;
      display: flex;
      color: white;
      font-size: 1.1rem;
      width: 50px;
      justify-content: center;
      align-items: center;
      height: 50px;
    }
  }
  .body{
    padding-bottom: 13px;
    width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    .header{
      height: 22px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: left;
      color:#538471;
      .name{
        display: flex;
        align-items: center;
       color:#0f1419;
       align-items: center;
       margin-right: 3px;
      }
      .username {
        display: flex;
        align-items: center;
        align-items: center;
      }
      .dote{
        padding: 0 4px;
      }
      .date {
        display: flex;
        align-items: center;
      }
    }
    .content {
      width: 100%;
      color:#0f1419;
    }
    .settings{
      height: 35px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
