.postDetailsContainer {
  padding: 0 18px;
  padding-top: 13px;
  display: flex;
  flex-direction: row;
  min-height: 95px;
  min-width: 100px;
  cursor: pointer;
  border-top: 0.1px solid rgba(0, 0, 0, 0.04);
  transition: background-color 0.3s;
  &:hover {
    background-color: rgba(245, 245, 245, 0.548);
  }
  .profilePicContainer{
    .profilePic {
      position: relative;
      margin-right: 13px;
      background-color: #ccc;
      border-radius: 50%;
      display: flex;
      color: white;
      font-size: 1.1rem;
      width: 44px;
      justify-content: center;
      align-items: center;
      height: 44px;
      overflow: hidden;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 25px;
        width: 25px;
      }
      img {
        width: 44px;
        height: 44px;
        z-index: 0;
      }
    }
  }
  .body{
    padding-bottom: 8px;
    width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    .header{
      height: 26px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color:#536471;
      cursor: pointer;
      .userInfo{
        display: flex;
        flex-direction: row;
        justify-content: left;
        .name{
          display: flex;
          align-items: center;
          margin-top: 3px;
          margin-right: 3px;
          a {
            color:#0f1419;
            text-decoration: none;
          }
          a:hover{
            text-decoration: underline;
          }
        }
        .username {
          display: flex;
          align-items: center;
        }
        .dote{
          padding: 0 4px;
        }
        .date {
          display: flex;
          align-items: center;
        }
      }
    }
    .replyInfo{
      color:#536471;
      margin-bottom: 2px;
      display: flex;
      flex-direction: row;
      a {
        color: #1D9BF0;
        margin-left: 2px;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }
    .content {
      word-wrap: break-word;
      max-width: 500px;
      color:#0f1419;
    }
    .imageContainer {
      border-radius: 15px;
      display: flex;
      overflow: hidden;
      margin-top: 13px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .settings{
      height: 35px;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      color:#536471;
      margin-top: 8px;
      
      span {
        font-size: 14px;
        width: 14px;
        text-align: center;
      }
      .commentContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        transition: color 0.3s;
        &:hover{
          color:rgb(0, 187, 255);
        }
        .comment {
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          transition: background-color 0.3s;
          &:hover{
            background-color: rgba(0, 187, 255, 0.149);
          }
        }
      }
      .likesContainer {
        display: flex;
        cursor: pointer;
        flex-direction: row;
        align-items: center;
        transition: color 0.3s;
        &:hover{
          color:rgb(255, 0, 162);
        }
        .heart{
          min-height: 40px;
          min-width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          transition: background-color 0.3s;
          &:hover{
            background-color: rgba(255, 0, 162, 0.149);
          }
        }
      }
    }
  }
}
