// SearchBar.module.scss
.searchBar {
  max-width: 350px;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;

  .formContainer {
    background-color: var(--container-hover-background);
    padding: 10px 15px;
    border-radius: 25px;
    .searchInputContainer {
      display: flex;
      align-items: center;
      color: var(--light-text-color)

      svg {
        font-size: 0.95rem;
        color: var(--light-text-color)
      }

      .cancelSearch {
        cursor: pointer;
        margin-top: 2px;

        &:hover {
          color: #007bff;
          transition: color 0.3s ease; 
        }
      }

      input {
        margin-left: 18px;
        margin-right: 18px;
        display: flex;
        padding: 4px;
        border: none;
        background-color: transparent;
 
        &:focus {
          outline: none;
        }
      }
    }
  }

  .emptySearchResultsContainer {
    padding: 15px 30px 20px 30px;
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    color: var(--light-text-color);
    height: 70px;
  }

  .searchResultsContainer {
    box-shadow: 0 0 10px var(--box-shadow-color);
    padding: 5px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    h3 {
      margin: 0 0 5px;
      font-size: 16px;
    }

    .userInfoContainer {
      display: flex;
      max-height: 78px;
      height: 78px;
      justify-content: left;
      align-items: center;
      font-size: smaller;
      padding: 13px 18px;
      color: #0f0f0f;
      cursor: pointer;

      &:hover {
        background-color: #cccccc23;
        transition: background-color 0.3s ease; // Added transition
      }
      .profilePic {
        position: relative;
        background-color: #ccc;
        border-radius: 50%;
        display: flex;
        color: white;
        font-size: 1.1rem;
        width: 44px;
        justify-content: center;
        align-items: center;
        height: 44px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-right: 8px;
        svg {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 25px;
          width: 25px;
        }
        img {
          width: 100%;
          height: auto;
          z-index: 2;
        }
      }
      .userInfo {
        font-size: 17px;
        .name{
          color:#0f1419;
          display: flex;
          align-items: center;
          font-weight: 600;
        }
        .username {
          color: #536471;
          font-weight: 300;
          display: flex;
          align-items: center;
        }
      }
    }
  }
}